<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Askly" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Askly">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class = "wrapper">
      <div class="navbar">
        <p class="title-sm text-bold"><%= link_to "Askly", root_path%></p>
        <div>
          <% if current_user.present?%>
            <%= content_tag :span, "@#{current_user.nickname}", class: "mr-sm" %>
            <%= button_to "Sign out", session_path, method: :delete, class: "button button-yellow"%>
          <%else%>
            <%= link_to "Sign up", new_user_path, class: "button button-yellow mr-sm"%>
            <%= link_to "Sign in", new_session_path, class: "button button-yellow mr-sm"%>
          <%end%>
        </div>
      </div>
      <% if flash[:notice].present? %>
        <p class="mb mt message message-notice"><%= flash[:notice] %></p>
      <% elsif flash[:alert].present? %>
        <p class="mb mt message message-error"><%= flash[:alert] %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
